<launch>
  <arg name="primitive_list" default="[execute_cartsian_trajectory]"/>
  <arg name="skill_list" default="[]"/>
  <arg name="debug" default="false"/>
  <arg name="robot_ontology_prefix" default="xyz"/>
  <arg name="robot_name" default="xyz_robot"/>

  <include file="$(find skiros2)/launch/world_model_server.launch">
      <arg name="init_scene" value=""/>
      <arg name="verbose" value="false"/>
      <arg name="gui" value="true"/>
      <arg name="reasoners_pkgs" value="[skiros2_std_reasoners]"/>
      <arg name="workspace_dir" value="$(find ragnar_skills)/owl"/>
      <arg name="debug" value="$(arg debug)"/>
  </include>

  <include file="$(find skiros2)/launch/skill_mgr.launch">
      <arg name="verbose" value="false"/>
      <arg name="debug" value="$(arg debug)"/>
      <arg name="libraries_list" value="[ragnar_skills]"/>
      <arg name="primitive_list" value="$(arg primitive_list)"/>
      <arg name="skill_list" value="$(arg skill_list)" />
      <arg name="robot_ontology_prefix" value="$(arg robot_ontology_prefix)"/>
      <arg name="robot_name" value="$(arg robot_name)"/>
  </include>
</launch>
